h1 {
  color:blue;
  background-color:red;
}
#first {
  color:red;
  background-color:black;
}
#second {
  color:green;
  background-color:yellow;
}
#third {
  color:cyan;
  background-color:orange;
}
#fourth {
  color:white;
  background-color:black;
}
.veggie {
  color:green;
}
.meat {
  color:red;
}
.element {
  color:brown;
}
.electronic {
  color:grey;
}
#first_box {
  background-color:pink;
  width: 200px;
  height: 100px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 30px;
}
#second_box {
  background-color:yellow;
  width: 30%;
  height: 30%;
  padding: 10%;
}
